<p>
	<label for="topicField" form="quizCRUDForm">Temática: </label>
	<select id="topicField" name="pregunta[tema]" autofocus>
		<% var temasKeys = Object.keys(temas); %>
		<% var i; for(i=0; i<temasKeys.length; i++){ 
				var selected='';
				if(temas[temasKeys[i]].codigo===pregunta.tema){
					selected='selected';
				}
		%>

			<option label="<%= temas[temasKeys[i]].descripcion %>" 
			        value="<%= temas[temasKeys[i]].codigo %>" 
			        <%=selected%>>
				<%= temas[temasKeys[i]].descripcion %>	
			</option>
		
		<% } %>
	</select>
	<br />
	<label for="quizField" form="quizCRUDForm">Pregunta:</label>
	<input type="text" id="quizField" name="pregunta[pregunta]" placeholder="Introduzca la pregunta" value="<%= pregunta.pregunta %>" />
	<br />
	<label for="answerField" form="quizCRUDForm">Respuesta:</label>
	<input type="text" id="answerField" name="pregunta[respuesta]" placeholder="Introduzca la respuesta" value="<%= pregunta.respuesta %>"  />

	<br />
	<input type="submit" value="Enviar"/>
</p>

